body{
   margin-left: 10%;
   margin-top:5%;
   background-color: white;
   background-image: url('../i2.png');
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   }

.title{
    font-family : 'Arial';
    font-size : 35px;
    color  : #817d7d;
}

.subtitle{
    font-family : 'Arial';
    font-size : 20px;
    color  : #817d7d;
    margin-left:10px;
}

.navbar ul li {
    font-family : 'Arial';
    display: inline-block;
    font-size : 20px;
    color  : #817d7d;
    padding : 10px 20px 10px 10px;
}

.content p{
    margin-left : 3%;
    margin-right: 20%;
    font-family : 'Arial';
    font-size : 20px;
    color  : #817d7d;
}

a:link {
    /*text-decoration: none;*/
    color  : #817d7d;
}
