::selection{
    color : rgba(90,190,153,1);
}
::-moz-selection{
    color : rgba(90,190,153,1);
}
.top{

}

.title{

}

a{
  color: rgba(90,90,90,.4);
}
#header .navigation{
  top : 20px;
}

ul{
  list-style: none;
}
.top #header #logo{
    /*background-image: url("../img/logo.png");*/
}

#header ul{
    background-image: none;
    position: absolute;
    top: 0;
    right: 40px;
    background-color: white;
    padding-bottom: 16px;
    opacity: 0.8;
}

#header ul li{
float: left;
position: relative;
margin-left: 20px;
font-family: 'Comfortaa', cursive;
font-size: 22px;
}

section{
font-family: 'Comfortaa', cursive;
margin-left: 27%;
margin-top: 120px;
font-size: 22px;
}

.sectional{
  display: block;
  width: 850px;
  margin-top : 250px;
}
.sectional .top_section{
font-size: 100px;
}

.sideNavigation{
  border: 1px solid rgba(30, 30, 30,.4);
  position: absolute;
  width: 140px;
  left: 20px;
  height: 200px;
}

.top_content{
font-size: 20px;
margin-left: 65px;
color: rgb(90,90,153);
}

.company_content{
  font-size: 20px;
  margin-left: 65px;
  color: rgb(90,90,153);
}

.sectional .top_section .logo_section{
  width: 90px;
  border: .1px solid rgba(90, 90, 90, .2);
  border-radius: 100%;
  display: inline-block;
}

.sectional .skill_section{
/*margin-top: 1200px;*/
}
.skills{
    width:100px;
    background-color: rgba(90,190,153,1); 
    position: absolute;
    top :520px;
    left: 100px;
}

.meter{
    width:500px;
    background-color: rgba(90,190,153,0.1); 
    top :520px;
    left: 100px;
}
.hello{
    font-size: 100px;
    margin-left: 200px;
    top: 220px;
    position: absolute;
}
.text{
    margin-left: 200px;
    top: 420px;
    left: 20px;
    position: fixed;
    color : rgba(90,190,153,1);  
    font-size: 30px;
}
h1{
    color : rgba(90,190,153,1); 
}
.text .texth{
    background-color: rgba(90,190,153,0.2);
}

.skill_content{
  font-size: 20px;
  margin-left: 65px;
  color: rgb(90,90,153);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #070708;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 137px;
  left: 53.5%;
  margin-left: -120px;
  opacity: .2;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#java_circle{
  width : 20px;
}

#header #logo {
    background: top left no-repeat;
    background-size: 60px;
    width: 60px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: 40px;
}

#overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}

#overlay .load_image{
  width: 150px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -120px;
  opacity: .3;
  /*height: 100px;
  opacity: 1;
  padding: 10px 10px 10px 10px;*/

}
.jumbotron{
    z-index:0; 
}

.navigator{
    text-align: right;
    float: right;
    display: grid;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

 section{
    margin-left: 0%; 
    margin-top: 0px;
    
}
a:hover{
    color : rgba(90,190,153,1); 
}
#top{
    height: 1000px;
/*    background-color: rgba(90,90,153,0.2);*/
    margin-top: 10px;
    margin-bottom: 10px;
}
#sect1{
    height: 1000px;
/*    background-color: rgba(90,90,153,0.2);*/
    margin-bottom: 10px;
    z-index:0; 
}

#sect2{
    height: 1000px;
/*    background-color: rgba(90,90,153,0.4);*/
    margin-bottom: 10px;
    z-index:0; 
}

#sect3{
    height: 1000px;
/*    background-color: rgba(90,90,153,0.6);*/
    margin-bottom: 10px;
    z-index:0; 
}

#sect4{
    height: 1000px;
/*    background-color: rgba(90,90,153,0.8);*/
    margin-bottom: 10px;
    z-index:0; 
}

.panel {
    z-index:0; 
    transform: translateZ( 0 );
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
}

.footer{
    height: 200px;
    background-color: rgb(90,90,153);
    margin-bottom: 10px;
}

a[ id= "top" ]:target ~ #main article.panel {
    transform: translateY( 10px );
}
a[ id= "sect1" ]:target ~ #main article.panel {
    transform: translateY( -1000px );
}
a[ id= "sect2" ]:target ~ #main article.panel {
    transform: translateY( -2010px );
}
a[ id= "sect3" ]:target ~ #main article.panel {
    transform: translateY( -3020px );
}
a[ id= "sect4" ]:target ~ #main article.panel {
    transform: translateY( -4030px );
}
/*
a[ id= "foot" ]:target ~ #main article.panel {
    transform: translateY( -4240px );
}*/

.divider1{
    
    height:200px;
    width: 300px;
    border: 1px solid rgba(90,90,153,0.1);
    float: left;
    position: absolute;
    left:100px;
    top : 100px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px;
/*    background-color: rgba(90,90,153,0.3);*/
animation: fadeIn 1s ease-in both;
    padding: 10px;
}

.divider2{
    
    height:300px;
    width: 300px;
    border: 1px solid rgba(90,90,153,0.1);
    float: left;
    position: absolute;
    left:450px;
    top : 100px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px;
/*    background-color: rgba(90,90,153,0.6);*/
animation: fadeIn 1s ease-in both;
    animation-delay: 1s;
    padding: 10px;
}

.divider3{
    
    height:300px;
    width: 300px;
    border: 1px solid rgba(90,90,153,0.1);
    float: left;
    position: absolute;
    left:800px;
    top : 100px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px;
/*    background-color: rgba(90,90,153,0.3);*/
animation: fadeIn 1s ease-in both;
    animation-delay: 2s;
    padding: 10px;

}

.front,.back,.others{
    color : rgba(90,190,153,1);
}

.tools{
    color : rgba(290,130,123,.3);
}


.divider4{
    
    height:300px;
    width: 600px;
    border: 1px solid rgba(90,90,153,0.1);
    float: left;
    position: absolute;
    top : 100px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px;
/*    background-color: rgba(90,90,153,0.3);*/
animation: fadeIn 1s ease-in both;
    padding: 10px;

}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@media only screen and (max-width: 768px) {
    .hello{
        top: 20px;
    }
    .text,.texth{
        top: 150px;
        margin-left: 20px;
    }
    section{
    margin-top: 260px;
}
    .divider1{position: absolute;top: 10px;}
     .divider2{left: 100px;position: absolute;top: 250px} 
     .divider3{left: 100px;position: fixed;top: 480px} 
    .divider4{position: absolute;top: 10px}
    .navigator{
    text-align: right;
    float: right;
    display: block;
    position: fixed;
    right: 0;
    z-index: 100;
    border-top: 0;
    }
    a[ id= "top" ]:target ~ #main article.panel {
    transform: translateY( 260px );
}
a[ id= "sect1" ]:target ~ #main article.panel {
    transform: translateY( -740px );
}
a[ id= "sect2" ]:target ~ #main article.panel {
    transform: translateY( -1750px );
}
a[ id= "sect3" ]:target ~ #main article.panel {
    transform: translateY( -2760px );
}
a[ id= "sect4" ]:target ~ #main article.panel {
    transform: translateY( -3770px );
}
    
    @keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
}